.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.areaCardDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.hrLine {
	width: 50%;
	text-align: center;
	margin-left: 0;
	height: 3px;
	color: #084999;
	background-color: #084999;
	border-width: 0;
	display: block;
}

.blueBgDivHomePage {
	background-image: url(../src/assets/img/bg-sc.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% 80%;
	border: none;
}

.grayBgDivHomePage {
	background-color: #e5e7eb;
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 100px 100px;
	border: none;
}
.redBgDivHomePage {
	background-color: #e23429;
	background-repeat: no-repeat;
	width: 16em;
	height: 60em;
	border: none;
	position: absolute;
	border-radius: 0px 20px 20px 0;
}

.cardTutorial {
	width: 700rem;
	height: 19rem;
	border: none;
	margin: 25px 0 25px 0;
	border-radius: 20px;
}
.cardBodyTutorial {
	background-image: url(../src/assets/img/bg-sc.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	border: 3px solid #084999;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	box-shadow: 8px 8px 16px -2px rgba(0, 0, 0, 0.34);
	color: white;
}

.cardInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #c1d340;
	border: none;
	border-radius: 20px;
	box-shadow: 8px 8px 16px -2px rgba(0, 0, 0, 0.34);
	width: 700rem;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 33.3em;
	background-color: #ffffff;
	opacity: 1;
	background-size: 4px 4px;
	background-image: repeating-linear-gradient(
		45deg,
		#000000 0,
		#000000 0.4px,
		#ffffff 0,
		#ffffff 50%
	);
}
